<section class="Contactos">
        <div>
            <br><img src="/assets/img/gratis-png-marcador-de-mapa-verde-parque-merlo-koningin-astridlaan-computadora-iconos-ubicacion-direccion-thumbnail.png" alt="Ubicación" >
            <h1>Dirección</h1>
            <h3><span>La cocha y Av. Maldonado </span></h3>
            <br><img src="/assets/img/2352120.png" alt="">
            <h1><strong>Email:</strong></h1>
            <h3><a href="mailto:contactos@el-palacio-del-mueble.com">contactos@el-palacio-del-mueble.com</a></h3>
            <br><img src="/assets/img/contacto.png" alt="">
            <h1><strong>Teléfono:</strong></h1>
            <h3><a href="tel:099 6976 917">(593) 099-6976-917</a></h3>
        </div>
</section>