<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vivero</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Dancing+Script&family=Pacifico&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Akaya+Telivigala&family=Dancing+Script&family=Open+Sans+Condensed:ital,wght@1,300&family=Pacifico&family=Source+Sans+Pro:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="/assets/css/styless.css">

</head>
<section class="Encabezado">
        <header>
            <h1>Vivero por Ti</h1>
            <h2>Es necesario plantar mas árboles para crear un futuro</h2>
            <br><button>EXPLORAR</button>
        </header>
</section>
<figure>
        <img src="/assets/img/Roads_Summer_Avenue_Grass_Trees_555198_1920x10802.jpg" alt="">
</figure>