<section class="Informacion">
        <div >
            <article >
                <img src="/assets/img/1.jpg" alt="">
            </article>
        </div>
        <div class="Info">
            <h1>A Cerca De Nosotros</h1>
            <h2>¿QUÉ QUEREMOS HACER?</h2>
            <p>Queremos que todas las personas llenen de vida este planeta.</p>
            <p>Invirtiendo en uno de los mejores servicios que nosotros le ofrecemos.</p>
            <br><button>MÁS INFORMACIÓN</button>
        </div>
</section>